<!-- <div class=" container mx-auto grid grid-cols-2 gap-4 mt-10 p-5"> -->
  <!-- <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-10 p-5"> -->
<div class="container mx-auto grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4 mt-10 p-5">
  <div>

    <h1 class="text-6xl font-bold mb-5">Build your perfect resume in minutes</h1>
    <p class="text-2xl  mb-10">Use our easy-to-use builder to create a resume that stands out.</p>
    <div class="flex space-x-6">

      <a [routerLink]="['/user-detail']" class="bg-blue-600  rounded p-2 text-white">Get Started</a>
      <button class="bg-white rounded p-2 border-1 border-solid">Try Demo</button>
    </div>
  </div>


  <!-- ... -->
 <!-- <div class="grid grid-cols-1 md:grid-cols-[40%_60%] gap-1 bg-white shadow-md"> -->
  <div class="grid grid-cols-1 md:grid-cols-[40%_60%] gap-1 bg-white shadow-md">
    
    <div class="bg-gray-100 p-4">


      <i class="fas fa-user fa-5x ml-16 "></i> <!-- User Icon -->

      <div class="flex-col mt-16">

        <p class="bg-white text-2xl text-black rounded mb-10 p-2 shadow-md ml-6 mr-5 text-centre"> Personal Info</p>
        <button class="text-2xl ml-6 "> Education</button>
      </div>
      <hr class="font-bold bg-grey-200 mt-5 mb-3">
      <div></div>
      <p class="text-2xl ml-6 font-bol">Experience</p>
      <hr class="bg-grey-200 mt-5 mb-3">
      <p class="text-2xl ml-6 font-bol">Skills</p>

      <div class="flex-col mt-16">

        <p class="bg-white text-2xl text-gray-300 rounded mb-10 p-2 shadow-md ml-6 mr-5 "> T Ink</p>
        <p class="bg-white text-2xl text-gray-300 rounded mb-10 p-2 shadow-md ml-6 mr-5 "> Email</p>
      </div>
    </div>
    <div class="bg-white p-1 ">
      <div class="ml-5 mr-5">
        <div class="">
          <div class="flex-col">
            <h1 class="text-4xl font-bold  ">Emma-Johnson</h1>
            <p class=""> Marketing Manager</p>
          </div>

        </div>
        <div>
          <h1 class="text-2xl mt-5  mb-3">Summary</h1>
          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-64 h-2 bg-gray-200  mb-3"></div>

        </div>
        <div>
          <h1 class="text-2xl mt-5  mb-3 ">Experience</h1>
          <div class="flex justify-between">
            <p class="text-lg ">Present-President</p>
            <p class="italic">Pro1-Jan.1 &nbsp;&nbsp;1</p>
          </div>

           <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-64 h-2 bg-gray-200  mb-3"></div>

          <div class="flex justify-between">
            <p class="text-lg ">Present-President</p>
            <p class="italic">Pro1-Jan.2 &nbsp;&nbsp;1</p>
          </div>

          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-64 h-2 bg-gray-200  mb-3"></div>
        </div>

        <div>

          <h1 class="text-2xl mt-5  mb-3">Education</h1>
           <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-80 h-2 bg-gray-200  mb-3"></div>
          <div class="w-48 md:w-64 h-2 bg-gray-200  mb-3"></div>

        </div>
        <div>

          <h1 class="text-2xl mt-5  mb-3"> Skills </h1>

          <ul class="list-disc ml-5">
            <li>Java</li>
            <li>Python</li>
            <li>C++</li>
            <li>C</li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</div> 

